<!-- any express templete file should has extention of .hbs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>

    {{> footer}}  <!-- here is the syntax of how we can inject partial template -->
  </body>
</html>
